<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <a href="/" class="logo">My own Airbnb clone</a>
      <div>
        <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
          <%= f.input :name %>
          <%= f.submit "Search" %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
